/*Application global colors*/

$white: #fff;
$red: #fc3401;
$blue: #03b9ed;
$blue-bg: #eefaff;
$body-bg: #eef4f9;
$gray: #f4f5f5;
$dark-gray: #cfcfcf;

/*Application sizes*/

$tablet: 768px;
$small-mobile: 600px;
