@import '../../theme/style.scss';

.mail-content-container {
  width: 100%;

  .no-mail-selected {
    font-size: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and(max-width: 768px) {
    width: 100%;
  }
}
